[defaults]
inventory = inventory.yml, site.yml, ftp_playbook.yml
remote_user = vagrant
private_key_file = private_key
host_key_checking = False
retry_files_enabled = False

[privilege_escalation]
become = True 
become_method = sudo
